################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YawnMassage.API/bin
/YawnMassage.API/obj
/YawnMassage.Common.Domain/bin/Debug/netstandard2.0
/YawnMassage.Common.Domain/obj
/YawnMassage.Common.Identity/bin/Debug/netstandard2.0
/YawnMassage.Common.Identity/obj
/YawnMassage.Common.Services/bin/Debug/netstandard2.0
/YawnMassage.Common.Services/obj
/YawnMassage.Platform.Domain/bin/Debug/netstandard2.0
/YawnMassage.Platform.Domain/obj
/YawnMassage.Platform.Services/bin/Debug/netstandard2.0
/YawnMassage.Platform.Services/obj
/.vs
